.controls {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 7px;
}

.controls__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #B9EAE4;
}

.controls__checkbox {
  display: none;
}