.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background-color: #F4F5F5;
  border-radius: 5px;
}

.reviews__item {
  margin-bottom: 13px;
}

.review__head {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.review__user  {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #1A1B1E;
  margin-bottom: 10px;
}

.review__user_checked {
  color: #2E77A4  ;
  text-decoration: underline;
}

.review__user::after {
  content: url("../../img/reviews_page/vk-blue.png");
  height: 30px;
}

.review__tags {
  display: flex;
  align-items: flex-start;
}

.review__title {
  margin-bottom: 10px;
}

.review__text {
  font-size: 16px;
  line-height: 1.7;
  color: #818181;
  margin-bottom: 50px;
}

.review__date {
  font-size: 14px;
  font-weight: bold;
  color: #1A1B1E;
}